- title('Home')
- content_for(:meta) do
  %meta{property: 'og:url', content: request.original_url}
  %meta{property: 'og:type', content: 'website'}
  %meta{property: 'og:title', content: "Marian's Blog"}
  %meta{property: 'og:description', content: "Writing about Ruby, Rails, and web development."}
  %meta{property: 'og:image', content: @post.image.url(:medium)}

.home
  .latest
    .image{style: "background-image: url('#{@post.image.url(:hero)}')"}
    .titles
      %h2= @post.title
      %h3
        %a{href: category_url(@post.category), class: 'category'}
          In:
          = @post.category.name
      %p= @post.summary
      = link_to 'READ POST', post_url(@post), class: 'read'

  .sidebar
    %aside
      %a{href: featured_posts_url}
        %h2 Featured

      %a{href: categories_url}
        %h2 Categories

      %a{href: posts_url}
        %h2 Other Posts
