%a.post_wrapper{class: :medium, href: post_url(post)}
  :css
    .post_#{post.id} {
      background-image: url('#{post.image.url(:medium)}');
    }
  .post{class: "post_#{post.id}"}
    .background
      .titles
        %h2= post.title
        %h3
          In:
          = post.category.name
        %p= post.summary
