!!!
%html
  %head
    %title Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"}
    %script{src: "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"}

%body

  %nav.nav-wrapper
    %ul
      %li= link_to 'MARIAN SERNA', about_url
      %li= "X"
      %li= link_to 'BLOG', root_url


      %ul#nav-mobile.right.hide-on-med-and-down
        %li= link_to 'Categories', admin_categories_url
        %li= link_to 'Posts', admin_posts_url

        - if user_signed_in?
          %li= link_to 'Admin', admin_root_url
          %li= link_to 'Sign Out', destroy_user_session_url, method: :delete
        -else
          %li= link_to 'Sign In', new_user_session_url

  /This is for your flash message to show up
  - flash.each do |key, value|
    .callout= value

  = yield
