!!!
%html
  %head
    %title Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'

%body
  %nav
    .nav-container
      = link_to image_tag('http://1.bp.blogspot.com/-481lldsZIf0/Un2HCV_SdNI/AAAAAAAAD-M/6iqHbI-dhg8/s1600/staglogo001.png'), root_url, class: 'logo'

      %ul
        %li= link_to 'Categories', categories_url

        - if user_signed_in?
          %li= link_to 'Admin', admin_root_url
          %li= link_to 'Sign Out', destroy_user_session_url, method: :delete
        -else
          %li= link_to 'Sign In', new_user_session_url

  /This is for your flash message to show up
  - flash.each do |key, value|
    .callout= value

  = yield
