!!!
%html
  %head
    %title Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=News+Cycle|Playfair+Display", rel: "stylesheet"}


%body
  %nav
    %ul
      %li= link_to 'MARIAN SERNA', about_url
      %li= "X"
      %li= link_to 'BLOG', root_url
      %li.right= link_to 'Portfolio', 'http://www.marianserna.com'


  -# /This is for your flash message to show up
  - flash.each do |key, value|
    .callout= value

  = yield
